<div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md">
    <h1 class="text-xl font-semibold text-gray-800 mb-4">
        {{ DocumentPrepareFor?.beneficiary?.firstName }} {{ DocumentPrepareFor?.beneficiary?.lastName }} Last Will
    </h1>
    <h2 class="text-xl font-semibold text-blue-500 mb-4">
       Residuary Estate
    </h2>
    <hr class="border-gray-300 mb-4">
    <!-- Disposition of Residuary Estate Dropdown -->
    <h3 class="text-lg text-blue-500 font-semibold mt-4">Disposition of Residuary Estate</h3>
    <p class="text-gray-600">Property Distribution</p>
    <select class="border p-2 rounded w-full" [(ngModel)]="dispositionOfResiduaryEstate">
      <option value="">Select an option</option>
      <option value="spouse_children">All to my spouse if surviving, if not, to my children</option>
      <option value="children_only">All to my children</option>
      <option value="named_persons">All to named persons and/or charities</option>
    </select>

    <!-- Omit Children Selection -->
    <h3 class="text-lg text-blue-500 font-semibold mt-4">Children's Shares</h3>
    <p class="text-gray-600">Do you want to omit (exclude) any children?</p>
    <div class="flex gap-4 mt-2">
      <label><input type="radio" [(ngModel)]="omitChildren" [value]="true"> Yes</label>
      <label><input type="radio" [(ngModel)]="omitChildren" [value]="false"> No</label>
    </div>

    <!-- Ultimate Disposition of Property Dropdown -->
    <h2 class="text-xl font-semibold text-blue-500 mb-4 pt-4">
        Ultimate Disposition
     </h2>
     <hr class="border-gray-300 mb-4">
    <h3 class="text-lg text-blue-500 font-semibold mt-4">Ultimate Disposition of Property</h3>
    <p class="text-gray-600 pb-4">How do you want your assets distributed if none of the persons you named on the preceding page are living AND none of the charities you named on the preceding page are in existence?</p>
    <select class="border p-2 rounded w-full " [(ngModel)]="ultimateDispositionOfProperty">
      <option value="">Select an option</option>
      <option value="heirs">My heirs at law</option>
      <option value="spouse_heirs">My and my spouse's heirs at law 50/50</option>
      <option value="named_persons">Named persons and/or charities</option>
    </select>

    <!-- Buttons -->
    <div class="mt-6 flex justify-between">
      <button (click)="goBack()" class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600">
        Back
      </button>
      <button (click)="confirmAndFinish()" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
        Confirm & Finish
      </button>
    </div>
</div>
