<div *ngIf="property_data" class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md">
  <h3 class="text-lg font-semibold mt-1">
    {{ trust_data?.user?.firstName }} {{trust_data?.user?.lastName}} <b class="text-lg text-blue-500 font-semibold mt-1"> {{ trust_data?.title || '' }}</b>
  </h3>
  <hr class="border-t border-gray-300 mt-3">
  <div class="mb-6">
      <h1 class="text-xl font-semibold text-gray-800">
        {{ property_data.name }}'s  <b> {{ property_data.title }} </b>
      </h1>
      <h2 *ngIf="property_data.subtitle" class="text-base text-blue-600 font-semibold">
          {{ property_data.subtitle }}
      </h2>
  </div>

   <div class="mb-6">
     <p>
        When  {{ property_data.name }}'s  Will and Joint Living Trust were prepared, choices were made about the disposition of your assets. Your property will be disposed of according to the choices made when the Joint Living Trust was prepared.
     </p>
  </div>
    <!-- Navigation Buttons -->
    <div class="flex justify-between mt-4">
      <button (click)="Back()"
              class="px-4 py-2 bg-gray-400 text-white rounded-md hover:bg-gray-500">
        Back
      </button>
      <button (click)="confirmToNext()"
              class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700">
        Confirm & finish
      </button>
    </div>
  </div>
  