<div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md">
  <h3 class="text-lg font-semibold mt-1">
    {{ trust_data?.user?.firstName }} {{trust_data?.user?.lastName}} <b class="text-lg text-blue-500 font-semibold mt-1"> {{ trust_data?.title || '' }}</b>
  </h3>
    <h3 class="text-lg font-semibold mt-1">
        Personal Representatives of your Last Will and Testament
    </h3>
    <app-successors 
    [isChooseOption]="false"
    [data_members]="personal_presentatives_data?.members"
    [selectedRepresentatives]="selectedRepresentatives"
    [getColor]="getColor"
    (representativesChange)="handleSelectionChange($event)">
</app-successors>

      <!-- Navigation Buttons -->
      <div class="flex justify-between mt-4">
        <button (click)="Back()"
                class="px-4 py-2 bg-gray-400 text-white rounded-md hover:bg-gray-500">
          Back
        </button>
        <button (click)="confirmToNext()"
                class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700">
          confirm & Next
        </button>
      </div>
    </div>
    