<div  class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md">
  <h3 class="text-lg font-semibold mt-1">
    {{ trust_data?.user?.firstName }} {{trust_data?.user?.lastName}} <b class="text-lg text-blue-500 font-semibold mt-1"> {{ trust_data?.title || '' }}</b>
  </h3>
    <h3 class="text-lg font-semibold mt-1">
        Other Real Estate
    </h3>
    <hr class="border-t border-gray-300 mt-3">
    <div class="mt-4 space-x-2">
      <label class="inline-flex items-center space-x-2">
        <input
          type="radio"
          name="PersonalResidence"
          [(ngModel)]="other_real_estate_Data!.PersonalResidenceDevise"
          [value]="true"
        />
        <span>Yes</span>
      </label>
      <label class="inline-flex items-center space-x-2">
        <input
          type="radio"
          name="PersonalResidence"
          [(ngModel)]="other_real_estate_Data!.PersonalResidenceDevise"
          [value]="false"
        />
        <span>No</span>
      </label>
    </div>

    <div *ngIf="other_real_estate_Data!.PersonalResidenceDevise && other_real_estate_Data">
      <app-real-estate
      [real_estate_Data]="other_real_estate_Data">
      </app-real-estate>    

    <div>

</div>


</div>
<h2 class="text-lg font-semibold mt-10">Specific Bequests</h2>
<p>Add specific bequests of tangible personal property or cash.</p>
<div class="mt-4">
    <label class="inline-flex items-center space-x-2">
        Specific Bequests
        <div class="ml-2 space-x-2">
            <label class="inline-flex items-center space-x-2">
              <input
                type="radio"
                name="iSSpecificBequests"
                [(ngModel)]="other_real_estate_Data!.iSSpecificBequests"
                [value]="true"
              />
              <span>Yes</span>
            </label>
            <label class="inline-flex items-center space-x-2">
              <input
                type="radio"
                name="iSSpecificBequests"
                [(ngModel)]="other_real_estate_Data!.iSSpecificBequests"
                [value]="false"
              />
              <span>No</span>
            </label>
        </div>
    </label>
  </div>
  <div *ngIf="other_real_estate_Data!.iSSpecificBequests">
    <app-add-beneficiery (beneficiariesChange)="onBeneficiariesChange($event)"
    [other_real_estate_Data]="other_real_estate_Data"
    [showBequest]="true">
    </app-add-beneficiery>
  </div>
    <!-- Navigation Buttons -->
    <div class="flex justify-between mt-4">
      <button (click)="Back()"
              class="px-4 py-2 bg-gray-400 text-white rounded-md hover:bg-gray-500">
        Back
      </button>
      <button (click)="confirmToNext()"
              class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700">
        Confirm & Next
      </button>
    </div>
</div>
