<div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md">
    <!-- Header -->
    <div class="mb-6">
        <h1 class="text-xl font-semibold text-gray-800">
            {{ DocumentPrepareFor ? DocumentPrepareFor.beneficiary.firstName + ' ' +
            DocumentPrepareFor.beneficiary.lastName :
            '' }}'s Pet Trust
        </h1>
        <h2 class="text-base text-blue-600 font-semibold">
            Trust Termination
        </h2>
        <hr class="border-t border-gray-300 mt-3">
    </div>
    <div>
        <div>
            <h2 class="text-xl font-bold text-gray-700 mb-4">Monitoring</h2>

            <div class="mb-4">
                <label class="block mb-2 text-gray-700 font-medium">Choose an Option</label>
                <select [(ngModel)]="successorType" (ngModelChange)="onSuccessorTypeChange($event)"
                    class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-blue-500">
                    <option value="heirs">My heirs-at-law</option>
                    <option value="meandspouse">My and my spouse's heirs-at-law 50/50</option>
                    <option value="charities">Named Individuals and/or charities</option>
                </select>
            </div>

            <div *ngIf="successorType == 'charities'">
                <app-add-beneficiery (beneficiariesChange)="onBeneficiariesChange($event)"
    ></app-add-beneficiery>
   
            </div>
        </div>
    </div>
    <!-- Buttons -->
    <div class="flex justify-between mt-4">
        <button (click)="cancelSelection()" class="px-4 py-2 bg-gray-400 text-white rounded-md hover:bg-gray-500">
            Back
        </button>
        <button (click)="confirmToNext()" class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700">
            Finish
        </button>
    </div>

</div>