<div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md">
  <h3 class="text-lg font-semibold mt-1">
    {{ trust_data?.user?.lastName }} {{trust_data?.user?.lastName}} <b class="text-lg text-blue-500 font-semibold mt-1"> {{ trust_data?.title || '' }}</b>
  </h3>
    <!-- Title -->
    <h1 class="text-xl font-semibold text-gray-800">
      {{ trust_data?.title2 || '' }}
    </h1>
    <!-- Subtitle -->
    <h3 class="text-lg text-blue-500 font-semibold mt-1">
      {{ trust_data?.sub_title }}
    </h3>
    <!-- Subtitle Description -->
    <p class="text-gray-600 text-sm mt-3">
      {{ trust_data?.sub_title_description }}
    </p>
    
    <!-- Optional Input Section -->
    <div *ngIf="trust_data?.input_label">
      <label class="block text-sm font-medium text-gray-700 pt-10">
        {{ trust_data?.input_label }}
      </label>
      <input 
        type="text" 
        *ngIf="trust_data" 
        [(ngModel)]="trust_data!.input_value" 
        class="mt-1 block w-full border rounded-md p-2" 
        placeholder="Enter value" />
    </div>
    
    <!-- Optional Bottom Description -->
    <p class="text-gray-600 text-sm mt-3" *ngIf="trust_data?.bottomDescription">
      {{ trust_data?.bottomDescription }}
    </p>
    
    <!-- Navigation Buttons -->
    <div class="flex justify-between mt-4">
      <button (click)="Back()"
              class="px-4 py-2 bg-gray-400 text-white rounded-md hover:bg-gray-500">
        Back
      </button>
      <button (click)="confirmToNext()"
              class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700">
        confirm & Next
      </button>
    </div>
  </div>
  