<ng-container *ngIf="currentStep === 'initial'">
    <app-preparefor 
      [preparer_for]="prepareForData" 
      [defaultSelectedBeneficiary]="defaultSelected"
      (editClicked)="handleEdit()" 
      (assembleClicked)="handleAssemble()"
      (selectedBeneficiary)="selectUser($event)">
    </app-preparefor>
  </ng-container>
  
  <ng-container *ngIf="currentStep === 'trust_option'">
    <div class="container mx-auto my-6">
      <app-trust-option 
        [trust_data]="trustOptionData" 
        (backClicked)="handleBackClicked($event)" 
        (nextClicked)="handleNextClicked($event)"
        (trust_data_emit)="handleTrustDataEmit($event)">
      </app-trust-option>
    </div>
  </ng-container>
  