<ng-container *ngIf="currentStep === 'initial'">
    <app-preparefor 
      [preparer_for]="prepareForData" 
      [defaultSelectedBeneficiary]="defaultSelected"
      (editClicked)="handleEdit()" 
      (assembleClicked)="handleAssemble()"
      (selectedBeneficiary)="selectUser($event)">
    </app-preparefor>
  </ng-container>
  
  <ng-container *ngIf="currentStep === 'trust_option'">
    <div class="container mx-auto my-6">
      <app-trust-option 
        [trust_data]="trustOptionData" 
        (backClicked)="handleBackClicked($event)" 
        (nextClicked)="handleNextClicked($event)"
        (trust_data_emit)="handleTrustDataEmit($event)">
      </app-trust-option>
    </div>
  </ng-container>

<ng-container *ngIf="currentStep === 'personal-representatives'">
    <app-personal-representatives 
      [personal_presentatives_data]="personalReps"
      (backClicked)="handleBackClicked($event)"
      (nextClicked)="handleNextClicked($event)"
      (personal_presentatives_data_emit)="Personal_handleMembersDataEmit($event)">
    </app-personal-representatives>
</ng-container>


<ng-container *ngIf="currentStep === 'successor-representatives'">
  <app-successor-representatives
    [successorRepresentativesData]="personalReps"
    (backClicked)="handleBackClicked($event)"
    (nextClicked)="handleNextClicked($event)"
    (successorRepresentativesDataEmit)="successor_handleMembersDataEmit($event)">
  </app-successor-representatives>
</ng-container>


<ng-container *ngIf="currentStep === 'trustee-representatives'">
  <app-trustees-of-joint-revocable
    [trusteesOfJointRevocableData]="personalReps"
    (backClicked)="handleBackClicked($event)"
    (nextClicked)="handleNextClicked($event)"
    (trusteesOfJointRevocableData_emit)="trustee_handleMembersDataEmit($event)">
  </app-trustees-of-joint-revocable>
</ng-container>

<ng-container *ngIf="currentStep === 'pet-care'">
  <app-pet-care 
    [petForm]="petFormData"
    (backClicked)="handleBackClicked($event)"
    (nextClicked)="handleNextClicked($event)"
    (petData_emit)="onPetData($event)">
  </app-pet-care>
</ng-container>

<ng-container *ngIf="currentStep === 'personal-residence'">
  <app-personal-residence 
    [personalResidenceData]="personalResidenceFormData"
    (backClicked)="handleBackClicked($event)"
    (nextClicked)="handleNextClicked($event)"
    (personalResidenceData_emit)="onPersonalResidenceData($event)">
  </app-personal-residence>
</ng-container>

<ng-container *ngIf="currentStep === 'residence-estate'">
  <app-residuary-estate
  [trusteesOfJointRevocableData]="personalReps"
  (backClicked)="handleBackClicked($event)"
  (nextClicked)="handleNextClicked($event)">
  </app-residuary-estate>
</ng-container>

  